################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/Project/.vs
/Project/packages
/Project/Project/Areas
/Project/Project/bin
/Project/Project/obj
/Project/Project/Properties
/Logic/Com.Business/bin
/Logic/Com.Business/obj
/Logic/Com.Business/Properties
/Logic/Com.Common/bin
/Logic/Com.Common/obj
/Logic/Com.Common/Properties
/Logic/Com.Entity/bin
/Logic/Com.Entity/obj
/Logic/Com.Entity/Properties
/Logic/Com.Enums/bin
/Logic/Com.Enums/obj
/Logic/Com.Enums/Properties
/Logic/Com.ViewModel/bin
/Logic/Com.ViewModel/obj
/Logic/Com.ViewModel/Properties